/spec/dummy
/coverage
.DS_STORE
.ruby-version
.byebug_history
Gemfile.lock
\#*
*~
.#*
.idea
.project
.sass-cache
coverage
tmp
nbproject
pkg
*.swp
spec/dummy
.rvmrc
.ruby-gemset
.bundle
.ruby-gemset
gemfiles/*.gemfile.lock
